nav.navbar.is-primary(role="navigation" aria-label="main navigation")
  .navbar-brand
    a.navbar-item(href="javascript:;")
      img(src="https://bulma.io/images/bulma-logo.png")
    a.navbar-burger(role="button" aria-label="menu" aria-expanded="false")
      span(aria-hidden="true")
      span(aria-hidden="true")
      span(aria-hidden="true")
  .navbar-menu
    .navbar-start
      a.navbar-item(href="/") Home
      a.navbar-item(href="javascript:;") About
